/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.responsive-container {
  width: 80%;
  max-width: 50%;
  margin-top: 30px;
}
.header-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  border-radius: 7px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-heading {
  font-family: 'Roboto';
  font-size: 32px;
  color: #475569;
  font-weight: 500;
}
.header-description {
  font-family: 'Roboto';
  color: #475569;
  font-weight: 15px;
  margin-top: 2px;
}
.money-manager-text {
  color: #0b69ff;
  font-weight: bold;
}
.transaction-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 24px;
}
.transaction-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 40%;
  border: 1px solid #cbd5e1;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 8px;
}
.transaction-header {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  margin-bottom: 20px;
}
.label {
  font-family: 'Roboto';
  font-size: 10px;
  color: #475569;
  font-weight: 500;
  margin-bottom: 5px;
}
.input {
  margin-bottom: 25px;
  height: 27px;
  width: 80%;
  border-radius: 3px;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  font-size: 10px;
}
.add-button {
  height: 30px;
  width: 80px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #0b69ff;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 10px;
}
.history-transactions {
  width: 60%;
  margin-left: 20px;
  border: 1px solid #cbd5e1;
  padding-right: 24px;
  padding-left: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 8px;
}

.history-header {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  margin-bottom: 20px;
}

.history-transaction-table-container {
  height: 100%;
  border-radius: 0px;
}
.table-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;

}
.history-transaction-table-container {
  width: 98%;
}
.table-header-cell {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}
